<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/Tyler-IN/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Tyler-IN" />
            <add key="ClearTextPassword" value="08d607ed9fa14d37a8220b37b3909d2823fae953" />
        </github>
    </packageSourceCredentials>
</configuration>