<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/Tyler-IN/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Tyler-IN" />
            <add key="ClearTextPassword" value="2902511b3133de7519c9f811864be17af15d8ed8" />
        </github>
    </packageSourceCredentials>
</configuration>