name: Master
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
        source-url: https://nuget.pkg.github.com/Tyler-IN/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - name: Configure NuGet
      run: dotnet nuget add source "https://nuget.pkg.github.com/Tyler-IN/index.json" --name github --username Tyler-IN --password ${{secrets.GITHUB_TOKEN}} --store-password-in-clear-text --configfile nuget.config
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - name: Install dependencies
      run: dotnet restore
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - name: Build
      run: dotnet build --configuration Release --no-restore
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - name: Pack
      run: dotnet pack -c Release --no-build --include-symbols
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
    - name: Push
      run: dotnet nuget push 'ActionSandboxTest/bin/Release/ActionSandboxTest.*.nupkg' -s github -k ${{secrets.GITHUB_TOKEN}} --skip-duplicate
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 1
